$margin-offset: 1em;
$inner-padding: 1em;

@mixin paper-container {
  @include apply-grid;
  @include paper;
  margin: $margin-offset;
  margin-top: -$margin-offset;
  padding: $inner-padding;
  padding-top: 4em;
}
