@import '~styles/common';

.left {
  margin: 30px 20px;
}

.right {
  margin: 30px 20px;
  @include respond-to($mobile) {
    text-align: center;
  }
}

.position {
  display: flex;
  grid-column: 1 / -1;
  justify-content: space-around;
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.header {
  opacity: 0;
  animation: 0.3s ease-out forwards;
  animation-name: slide-right;
  animation-delay: 800ms;
  will-change: transform, opacity;
}

.intro {
  font-size: $h3-font-size;
  line-height: 1.5;
  max-width: 500px;
  opacity: 0;
  animation: 0.3s ease-out forwards;
  animation-name: slide-right;
  animation-delay: 1.5s;
  will-change: transform, opacity;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
