.nav {
  padding: 20px 0;
}

.list {
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.nav-item {
  display: inline-block;
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
}
