@import '~styles/mixins/responsive';
@import '~styles/configs/colors';
@import '~styles/common';

$paper-entry-duration: 0.5s;
$animation-duration: 0.3s;
$initial-slide-offset: -101%;

.container {
  @include apply-grid;
  @include paper;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: fixed;
  top: 0;
  z-index: 2;
  right: 0;
  left: 0;
  padding: 1em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  transform: translate3d(0, $initial-slide-offset, 0);
  animation: $animation-duration ease-out forwards;
  animation-delay: $paper-entry-duration;
  animation-name: slide-down;
  will-change: transform;
}

.active {
  color: $stamp-red;
}

.list {
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-align: right;
}

.nav-item {
  display: inline-block;
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
}

@keyframes slide-down {
  0% {
    transform: translate3d(0, $initial-slide-offset, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
