@import '~styles/mixins/responsive';
@import '~styles/configs/colors';

.container {
  @include apply-grid;
  position: absolute;
  top: 0;
  z-index: 1;
  right: 1em;
}

.active {
  color: $stamp-red;
}

.nav {
  padding: 30px 10px;
}

.list {
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-align: right;
}

.nav-item {
  display: inline-block;
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
}
