@import '~styles/common';
@import '~styles/mixins/patterns';

$initial-slide-offset: 30vh;
$slide-in-duration: 0.5s;

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: $desktop-max-width;
}

.container {
  @include paper-container;
  position: relative;

  &::before {
    content: '';
    @include paper;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate3d(0, $initial-slide-offset, 0);
    animation: $slide-in-duration ease-out forwards;
    animation-name: slide-up;
    will-change: transform, opacity;
  }

  & > * {
    z-index: 1;

    opacity: 0;
    animation: 300ms ease-out forwards;
    animation-name: fade-in;
    animation-delay: 600ms;
    will-change: opacity;
  }
}

@keyframes slide-up {
  0% {
    transform: translate3d(0, $initial-slide-offset, 0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
